<h1>Welcome Home</h1>

<%= link_to "Holidays List", "http://localhost:3000/holidays/index"%><br />
<%= link_to "Leave apply", "http://localhost:3000/leaves/new"%><br />
<%= link_to "Leave Actions", "http://localhost:3000/leaves"%><br />



