<h1>Welcome Home</h1>
<a href="http://localhost:3000/holidays/index">Holidays List</a><br/>
<a href="http://localhost:3000/leaves/new">Leave Apply</a><br/>
<a href = "http://localhost:3000/leaves/1/edit">Leave_action</a><br/>
